<div class="row">
<h1>Baker Motor Admin Dashboard</h1>
</div>

<div class="row">
  <%= link_to "My Dealerships", dealerships_path %>
  <!-- <%= link_to "Logout", destroy_user_session_path, :id=>"", :class=>"nav-link", :method => :delete %> -->

</div>
<!-- <div class="row" style="font-size:14px;">
  <div class="col-lg-3 col-md-6">
      <div class="card card-blue">
          <div class="card-header">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-gift fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-xs-right">
                      <div class="huge">26</div>
                      <div>In-Kind Donations</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="card-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card card-green">
          <div class="card-header">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-cc-stripe fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-xs-right">
                      <div class="huge">$121</div>
                      <div>Monetary Donations</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="card-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card card-yellow">
          <div class="card-header">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-bicycle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-xs-right">
                      <div class="huge">124</div>
                      <div>Local Needs</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="card-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card card-red">
          <div class="card-header">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-support fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-xs-right">
                      <div class="huge">$132</div>
                      <div>Campaign Support</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="card-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
</div> -->
