<div class="col-lg-10 offset-lg-1">
  <div class="row">
    <h1 class="text-sm-center">Edit Dealership</h1>
  </div>

  <%= render 'form', dealership: @dealership %>

<%= link_to 'Show', @dealership %> |
<%= link_to 'Back', dealerships_path %>
</div>
